<div style="background-color:aliceblue">
  <h1 style="color:green">Welcome to Angular 6 App</h1>
  <ul>
    <li>
      <a routerLink="/admin">Home</a>
    </li>
    <li>
      <a routerLink="/admin/profile">Profile</a>
    </li>
    <li>
      <a routerLink="/admin/employees">Employee List</a>
    </li>
    <li>
      <a routerLink="/admin/a1">A1</a>
    </li>
    <li>
      <a routerLink="/admin/a2">A2</a>
    </li>
    <li style="background-color:red;color:white">
      <a routerLink="/">Logout</a>
    </li>
  </ul>
  <hr />
</div>

<p>
  <router-outlet></router-outlet>
</p>

<div style="background-color:aliceblue">
  <hr />
  <p>
    This is secure site
  </p>
</div>